$brand-color: #3c494f;
$secondary-brand-color: #00d3a9;
$middle-gradient-color: mix($brand-color, $secondary-brand-color, 95%);

// Breakpoints
$mobile: "(max-width: 420px)";
$tablet: "(min-width: 450px)";
$mid-point: "(min-width: 620px)";
$desktop: "(min-width: 768px)";

// Meshery Colors
$coolgray: #3c494f;
$lightgreen: #00d3a9;
$darkgreen: #00b39f;
// Custom colors

$charcoal: #3c494f;
$caribbeangreen: #00b39f;
$keppel: #00d3a9;
$saffron: #EBC017;
$saffronlight: #FFF3C5;
$saffronlightest: #FFF7D8;
$dark-jungle-green: #1E2117;
$gray: #a0aaaa;
$tealblue: #477e96;

/* SCSS HEX */
$keppel: #00b39fff;
$viridian-green: #20969cff;
$metallic-seaweed: #30879bff;
$lightseagreen: #10A59E;
$blue-munsell: #358a9eff;
$blue-munsell-2: #3a8da0ff;
$blue-munsell-3: #4392a4ff;